{% extends 'template.html.twig' %}
{% block section %}
    <section id="sectioncontact">
        <h1> Notre galerie photo  </h1>
        
        
        <div class="image-box-wrapper" id="image-box-wrapper">

    <!-- `.image-box`1 -->
    <div class="image-box">
        <div class="image-container">
            <img src="{{ asset('bundles/framework/img/hamburger.jpg')}}"/>
        </div>
 
{#        MESSAGE QUI DETAIL LA PHOTO       #}
        <div class="image-details">
            <div class="details">
                <h4>photo prise a beweb</h4>
            </div>
        </div>
    </div>
    <!-- `.image-box` 1 fin -->   
    
    <!-- `.image-box` 2 -->
    <div class="image-box">
        <div class="image-container">
            <img src="{{ asset('bundles/framework/img/hamburger.jpg')}}"/>
        </div>
        
{#        MESSAGE QUI DETAIL LA PHOTO       #}
        <div class="image-details">
            <div class="details">
                <h4>photo prise a beweb</h4>
                
            </div>
        </div>
    </div>
    <!-- `.image-box` 2 fin -->   
    
    <!-- `.image-box` 3 -->
    <div class="image-box">
        <div class="image-container">
            <img src="{{ asset('bundles/framework/img/hamburger.jpg')}}"/>
        </div>
        
{#        MESSAGE QUI DETAIL LA PHOTO       #}
        <div class="image-details">
            <div class="details">
                <h4>photo prise a beweb</h4>
            </div>
        </div>
    </div>
    <!-- `.image-box` 3 fin  -->   
    
    
    <!-- `.image-box` 4 -->
    <div class="image-box">
        <div class="image-container">
            <img src="{{ asset('bundles/framework/img/hamburger.jpg')}}"/>
        </div>
        <div class="image-details">
            
{#        MESSAGE QUI DETAIL LA PHOTO       #}
            <div class="details">
                <h4>photo prise a beweb</h4>
            </div>
        </div>
    </div>
    <!-- `.image-box` 4 fin  -->  
    
    
    <!-- `.image-box` 5 -->
    <div class="image-box">
        <div class="image-container">
            <img src="{{ asset('bundles/framework/img/hamburger.jpg')}}"/>
        </div>
        
        
{#        MESSAGE QUI DETAIL LA PHOTO       #}
        <div class="image-details">
            <div class="details">
                <h4>photo prise a beweb</h4>
            </div>
        </div>
    </div>
    <!-- `.image-box` 5 fin -->   
    
    
    <!-- `.image-box` 6 -->
    <div class="image-box">
        <div class="image-container">
            <img src="{{ asset('bundles/framework/img/hamburger.jpg')}}"/>
        </div>
        
{#        MESSAGE QUI DETAIL LA PHOTO       #}
        <div class="image-details">
            <div class="details">
                <h4>photo prise a beweb</h4>
            </div>
        </div>
    </div>
    <!-- `.image-box` 6 fin -->   
    
    
    <!-- `.image-box` 7 -->
    <div class="image-box">
        <div class="image-container">
            <img src="{{ asset('bundles/framework/img/hamburger.jpg')}}"/>
        </div>
        
{#        MESSAGE QUI DETAIL LA PHOTO       #}
        <div class="image-details">
            <div class="details">
                <h4>photo prise a beweb</h4>
            </div>
        </div>
    </div>
    <!-- `.image-box` 7 fin -->

<!-- `.image-box`8 -->
    <div class="image-box">
        <div class="image-container">
            <img src="{{ asset('bundles/framework/img/hamburger.jpg')}}"/>
        </div>
 
{#        MESSAGE QUI DETAIL LA PHOTO       #}
        <div class="image-details">
            <div class="details">
                <h4>photo prise a beweb</h4>
            </div>
        </div>
    </div>
    <!-- `.image-box` 8 fin -->   
    
    <!-- `.image-box`9 -->
    <div class="image-box">
        <div class="image-container">
            <img src="{{ asset('bundles/framework/img/hamburger.jpg')}}"/>
        </div>
 
{#        MESSAGE QUI DETAIL LA PHOTO       #}
        <div class="image-details">
            <div class="details">
                <h4>photo prise a beweb</h4>
            </div>
        </div>
    </div>
    <!-- `.image-box` 9 fin -->   
    
    <!-- `.image-box`10 -->
    <div class="image-box">
        <div class="image-container">
            <img src="{{ asset('bundles/framework/img/hamburger.jpg')}}"/>
        </div>
 
{#        MESSAGE QUI DETAIL LA PHOTO       #}
        <div class="image-details">
            <div class="details">
                <h4>photo prise a beweb</h4>
            </div>
        </div>
    </div>
    <!-- `.image-box` 10 fin -->   
    
  
    
    
    <div class="clear"></div>

</div>
        
    </section>
{% endblock %}  
    
    
    