{% extends 'template.html.twig' %}
{% block section %}
   <section id="sectionindex">
        <div id="slider">
            <figure>
                 <img src="{{ asset('bundles/framework/img/hamburger.jpg')}}" alt>
                 <img src="{{ asset('bundles/framework/img/hamburger.jpg')}}" alt>
                 <img src="{{ asset('bundles/framework/img/hamburger.jpg')}}" alt>
                 <img src="{{ asset('bundles/framework/img/hamburger.jpg')}}" alt>
                 <img src="{{ asset('bundles/framework/img/hamburger.jpg')}}" alt>
            </figure>
        </div>
    </section>
{% endblock %}  
    
    
    