{% extends 'template.html.twig' %}
{% block section %}
   <section id="sectionindex">
       <div>
           <p id="textacceuil">
               Bonjour vous avez des envies de festivités ,
               mon truck s'adapte à vos désirs culinaires :<br>
               paëlla au feu de bois , 
               choucroute maison , gardiane, Burgers frites de votre choix ( bretzel, Bagel, etc),
               tapas divers et bien d'autres Spécialitées.<br>
               Pour un minimum de 25 personnes<br>
               je vous prépare le devis de votre choix 
           </p>
       </div>
       
        {#<div id="slider">
            <figure>
                 <img src="{{ asset('bundles/framework/img/hamburger.jpg')}}" alt>
                 <img src="{{ asset('bundles/framework/img/hamburger.jpg')}}" alt>
                 <img src="{{ asset('bundles/framework/img/hamburger.jpg')}}" alt>
                 <img src="{{ asset('bundles/framework/img/hamburger.jpg')}}" alt>
                 <img src="{{ asset('bundles/framework/img/hamburger.jpg')}}" alt>
            </figure>
        </div>#}
            
    </section>
{% endblock %}  
    
    
    